---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";

const identity = {
  firstName: "Andrés",
  country: "Colombia",
  occupation: "Civil Engineer and Web Dev",
  hobbies: ["rock and roll", "formula 1", "brazilian jiu jitsu", "programming"],
};

const skills = [
  "HTML",
  "CSS",
  "JavaScript",
  "React",
  "Astro",
  "Ruby on Rails",
  "Python",
];
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Andrés Gracia Danies</h2>

  <p>
    Civil Engineer, MSc in Civil Engineering for Risk Mitigation (hello Polimi
    folks!) and MBA.
  </p>

  <p>Here are a few facts about me:</p>
  <ul>
    <li>I'm still building this site.</li>
    <li>
      I live in {identity.country} and I work as a {identity.occupation}.
    </li>
    {
      identity.hobbies.length >= 2 && (
        <li>
          Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}
        </li>
      )
    }
  </ul>
  <p>My dev skills are:</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
</BaseLayout>
