---
import { Image } from "astro:assets";
const { project } = Astro.props;
---

<div class="card">
  <Image
    class="project-image"
    src={project.image}
    alt={`${project.name} preview`}
    width="320"
  />
  <h3>{project.name}</h3>
  <p>{project.description}</p>
  <p>
    <a class="default-link" href={project.url} target="_blank">Visit project</a>
  </p>
</div>

<style>
  .project-image {
    align-self: center;
  }
</style>
